<!--
<h3>Expense Form</h3>
<form method="POST" action ="/create" id="input">
  <input type ="date" name="date" placeholder="Enter Date" required>
  <select name="category" required  placeholder="Category">
    <option size="800" selected="selected" value="" disabled>Select Category</option>
    <option value="Groceries">Groceries</option>
    <option value="Utilities">Utilities</option>
    <option value="Household">Household</option>
    <option value="Entertainment">Entertainment</option>
    <option value="Rent">Rent</option>
  <input type ="number" name="expenses" size="40" placeholder="Enter Expense" required="">
  <input type ="text" name="notes" placeholder = "Enter Notes" size="60"required="">
  <input type ="submit" name="submit" value="Submit">
</form>
<br> -->

{{#each data}}

<h3>Date: {{date}}</h3>
<h3>Category: {{category}}</h3>
<h3>Expense: ${{expenses}}</h3>
<h3>Notes: {{notes}}</h3>
<form method="POST" action="/delete" >
  <input type="hidden" name="exid" value="{{this.id}}">
  <input type="submit" value="Delete"> </form>
  <form method="POST" action="/edit" >
      <input type="hidden" name="editid" value="{{this.id}}">
      <input type="submit"  value="Edit">
      </form>

{{/each}}
